<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create Product</title>
</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
			<h6>Update Product</h6>
		</div>
		<hr />
		<div class="row">
			<form th:action="@{/product/update}" method="post">
				<div class="mb-3">
					<label class="form-label">Id</label> <input readonly="readonly"
						th:value="${product.id}" type="text" name="id"
						class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label">Name</label> <input
						th:value="${product.name}" type="text" name="name"
						class="form-control">
					<input type="file"
						   accept="image/*" class="form-control"
						   th:value="${product.imageURL}" name="imageURL">
				</div>
				<div class="mb-3">
					<label class="form-label">Price</label> <input
						th:value="${product.price}" type="text" name="price"
						class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label">Quantity</label> <input
						th:value="${product.quantity}" type="text" name="quantity"
						class="form-control">
				</div>
				<div class="mb-3">
					<label class="form-label">Description</label> <input
						th:value="${product.description}" type="text" name="description"
						class="form-control">
				</div>
<!--				<div class="mb-3">-->
<!--					<label class="form-label">Image</label> <input-->
<!--						th:value="${product.imageURL}" type="text" name="imageURL"-->
<!--						class="form-control">-->
<!--					<input type="file"-->
<!--						   name="file" accept="image/*" class="form-control">-->
<!--				</div>-->
				<div class="mb-3">
					<label class="form-label">Category Name :</label> <select
						name="category.id" class="form-control">
						<option th:each="c : ${categories}" th:value="${c.id}"
							th:text="${c.name}"
							th:selected="${c.id == product.category.id}"></option>
					</select>
				</div>
				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>

			</form>
		</div>
	</div>
</body>
</html>
