<!DOCTYPE html>
<html layout:decorator="home.html">
<html>
<head>
<meta charset="UTF-8">
<title>Statistical Bill By Month</title>
</head>
<body>
	<div layout:fragment="content" class="col-12 col-sm-9">
		<div class="row">
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>Quantity</th>
						<th>Month</th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="bill : ${statisticalBills}">
							<td th:text="${bill.quantity}"></td>
							<td th:text="${bill.byMonth}"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
</body>
</html>